.nav-selectors {
  flex: auto;
  padding: 1rem;
  color: black;
}

.nav-selectors:hover {
  transform: scale(1.02);
  text-decoration: none;
  color: black;
}

.profile-img {
  width: 10rem;
}

ul {
  list-style: none;
}

.profile-management {
  margin-top: 5rem;
  margin-bottom: 5rem;
}